.logo {
    border: 5px solid orange;
    display: flex;
}

.btn {
    border: 1px solid green;
    display: flex;
}

.firstbox {
    display: flex;
    border: 5px solid black;
    max-width: 40%;
    flex-direction: column;
}

.title {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 54px;
    max-width: 500px;
    min-height: 100px;
    overflow:hidden;
    margin-top: 50px;
}

.first-para {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    max-width: 450px;
}

.picture {
    max-width: 500px;
}

.btn--get-started {
    font-family: 'Poppins', sans-serif;
    color: white;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    background: #FF9900;
    border-radius: 4px;
    border-color: #FF9900;
    height: 50px;
    width: 150px;
    margin: 20px;
}