.logo {
    margin-top: 20px;
    margin-left: 40px;
}

.nav-list {
    background-color: white;
    margin: 0%;
    padding: 1px border:2px;
    display: flex;
    justify-content: flex-end;
}

.nav-item {
    list-style: none;
    margin-right: 2rem;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    color: #2F281E;
}

.card_section_one {
    border: 5px white;
    width: 100%;
    height: 100%;
    max-width: 1550px;
    display: flex;
    justify-content: center;

}

.card_info,
.card_image {
    display: flex;
    border: 5px solid rgb(255, 255, 255);
    flex-direction: column;
}

.card_title {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 54px;
    max-width: 500px;
    min-height: 100px;
    overflow: hidden;
    margin-top: 50px;
}

.card_content {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    max-width: 450px;
}

.btn--get-started {
    font-family: 'Poppins', sans-serif;
    color: white;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    background: #FF9900;
    border-radius: 4px;
    border-color: #FF9900;
    height: 50px;
    width: 150px;
    margin: 20px;
}

/*
.sign-in {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 24px;
    color: #000000;
    border: 1px solid #BCD0E5;
    border-radius: 4px;
    height: 40px;
    width: 120px;
    margin: 20px;
}

.sign-up {
    font-family: 'Poppins', sans-serif;
    color: white;
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 24px;
    background: #FF9900;
    border-radius: 4px;
    border-color: #FF9900;
    height: 40px;
    width: 120px;
    margin: 20px;
} */

.header_two {
    display: flex;
    border: 2px solid rgb(255, 255, 255);
    justify-content: center;
}

.header_scnd {
    display: flex;
    font-family: 'Poppins', sans-serif;
    border: 5px solid rgb(255, 255, 255);
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
    text-align: center;
    color: #2F281E;
    position: relative;
    width: 30%;
}

.card_section_two {
    display: flex;
    border: 2px solid rgb(255, 255, 255);
    justify-content: space-evenly;
    align-items: center;
}

.two_title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
    color: #2F281E;
}

.we_design {
    font-family: 'Poppins', sans-serif;
    display: flex;
    border: 2px solid rgb(255, 255, 255);
    margin: 2px;
    padding: 2px;
    flex-direction: column;
    max-width: 15%;
    height: 50px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #544837;
}



.we_design_image {
    height: 100%;
    width: 20%;
    border-radius: 15px;
}

.card_sign_now {
    border: 5px solid rgb(255, 255, 255);
    display: flex;
    width: 100%;
    justify-content: center;
}


.btn_sign_now {
    font-family: 'Poppins', sans-serif;
    color: white;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 24px;
    background: #FF9900;
    border-radius: 4px;
    border-color: #FF9900;
    height: 50px;
    width: 150px;
}

.card_section_three {
    display: flex;
    border: solid rgb(255, 255, 255);
    max-width: 100%;
    min-height: 100%;
    justify-content: center;
    margin-top: 5%;

}

.design_prof {
    display: flex;
    border: 2px solid rgb(255, 255, 255);
    flex-direction: column;
    max-width: 30%;


}

.top_title {
    display: flex;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 1px;
    color: #544837;
}

.title_prof {
    display: flex;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1px;
    color: #2F281E;
}

.small_title {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1px;
    color: #2F281E;
}

.lil_content {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #544837;
    display: flex;
}

.guy {
    margin-left: 15%;
}

.image_three {
    margin-right: 30px;
}

.bom {
    max-width: 32%;
}

.footer-container {
    background-color: white;
    padding-bottom: 4rem;
}

.footer {
    width: 80%;
    height: 20vh;
    background-color: white;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

}

.footer1, .footer2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 35px;
    color: #544837;
    display: flex;
    flex-direction: column;
    border: 10px solid rgb(255, 255, 255);
    margin-right: 3%;

}

.footer-email-form {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.btn {
    margin-top: 15px;
}